<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React Setup</title>
    <link rel="stylesheet" type="text/css" href="<%= common.rootPath %>/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="<%= common.rootPath %>/public/css/common.css">
    <script>
    	G = {
            userinfo: {
                username: '<%= username %>',
                isLogin: parseInt('<%= isLogin %>')
            },
            question: {
                title: '<%= title %>',
                content: '<%= content %>',
                quesId: '<%= quesId %>'
            },
            isEdit: parseInt('<%= isEdit %>')
        }
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="<%= common.rootPath %>/public/js/build/create_bundle.js"></script>
</body>
</html>